* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyAboutUs{
    text-align: center;
    background-image:
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("https://c4.wallpaperflare.com/wallpaper/527/56/958/my-little-pony-the-movie-4k-desktop-background-wallpaper-preview.jpg");
        background-size: cover;
        background-position: center;
        aspect-ratio: 16/9 ;
        background-repeat: no-repeat; }


.navAboutUs{
    background-color: rgba(179, 69, 223, 0.699);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: rgb(175, 15, 114);
}

.titre,.titres  {
    color: rgb(137, 43, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

.texte {
    gap: 15px;
    color: rgb(211, 86, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 30px;
}

.qualités {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    gap: 15px;
    color: rgb(211, 86, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 30px;
}


/* ----------------------- */
/* CSS FEATURE-CONTACT */
/* ----------------------- */

/* Hard Base Reset */
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

main{
    display: grid;
    grid-template-rows: auto 1fr auto;    
    /* height: 100%; */
    flex-grow: 1;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    background:
        radial-gradient(circle at top left,
            rgba(120, 0, 255, 0.25),
            transparent 40%),

        radial-gradient(circle at bottom right,
            rgba(255, 0, 200, 0.25),
            transparent 40%),

        linear-gradient(135deg,
            #250047,
            #4a0f72,
            #7a1fa2,
            #d946ef);
}



.body_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big_div {
    border-radius: 50px;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.div_img {
    width: 50%;
    background-image: url("./img/Capture-ecran-2026-06-22-140223.png");
    background-size: cover;
    background-position: center;
}

/* background-color: red; */

.login_info {
    background-color: white;

    gap: 2rem;
    border: solid 1px green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 35%;

}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    /* background-color: red; */
    margin: 0 auto;

    border-radius: 20px;
}

.CA {
    margin: 0 auto;
}

.forgot {
    /* background-color: red; */
    width: 80%;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
    margin: 0 auto;
}

.btn_login {
    display: flex;
    width: 80%;
}

button {
    background-color: #8d2cc0;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;

    a {
        color: pink;
    }
}


.titre_login {
    margin: 0 auto;
}
body{
  background-color: rgba(142, 41, 162, 0.262);
}

nav-feat{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 4px;
  align-items: end;
  justify-content: space-around;
  color :rgb(115, 77, 204);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 6em;
  font-weight:bolder;
  background-image: url(./imachref/rever.jpg);
}

ul{
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
  gap: 5em;
  background-image: url("./imachref/rever.jpg");
  font-size: larger;
}

a{
  /* HOLA */
  text-decoration:line-through;
  color: rgb(218, 11, 254);
  font-weight: 10px;
}

a:visited{
  color: rgb(156, 94, 156);
}

h1{
  color: pink;
  background-color: rgb(148, 111, 186);
}

div:hover{
  background-color: rgba(255, 4, 196, 0.717);
  color:blueviolet;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

img{
  width: 50%;
  aspect-ratio: 2/2;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  border-color: white;
}

img::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(77, 25, 123);
  top: 0;
  left: 0;
}


.burger-menu {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.burger-menu div {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: rgb(242, 10, 137);
}

button{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(132, 1, 255);
  padding: 0.5rem 1.5rem;
  color: rgb(143, 3, 236);
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(108, 88, 217, 1) 24%, rgba(252, 70, 107, 1) 100%);
}



/* --- Styles du Formulaire --- */
.contact-page {
    padding: 80px 0;
    background: linear-gradient(135deg, #0f0c1b 0%, #201335 50%, #4a235a 100%);
    background-attachment: fixed;
}

.form-container {
    padding: 2rem;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 8px 32px  0 rgba(0,0,0,0.37);
    
    background: rgba(255, 255,255, 0.06);
    backdrop-filter: blur(12px);

}

.form-container h2 {
    color: #282828;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #ffffff, #f472b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.form-container p {
    margin-bottom: 2rem;
    color: #ffffff;
}

/* Groupes de champs */
.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #ffffff;
}

.form-group input, 
.form-group textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    transition: border-color 0.3s;
}

.form-group textarea {
    resize: vertical; /* Empêche d'élargir le formulaire horizontalement */
    min-height: 120px;
}
.form-group input:focus, 
.form-group textarea:focus {
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 0 10px rgba(217, 70, 239, 0.5);
}


.btn-submit {
    width: 100%; /* Largeur totale sur mobile */
    justify-content: center;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #d946ef 0%, #a855f7 100%);
    color: #fff;
    box-shadow: 0 4px 15px rgba(168, 85, 247, 0.4);
    font-weight: 600;
    padding: 1rem;
    transition: transform .2s, box-shadow .2s;
    /* cursor: pointer; */
    cursor: url(https://img.icons8.com/pulsar-gradient/48/cloud-favorites.png), auto;
    
}

.btn-submit:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 20 px rgba(217, 70, 239, 0.6);
}


/* --- Responsive Desktop (min-width: 768px) --- */
@media screen and (min-width: 768px) {
    .form-container {
        padding: 3rem;
    }
    
    .form-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 3rem;
    }

    /* Aligne les champs Prénom/Nom et Email/Tel sur une ligne */
    .form-group-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .btn-submit {
        width: auto;
        padding-inline: 3rem;
    }
}
/* ----------------------- */
/* END CSS FEATURE-CONTACT */
/* ----------------------- */
