* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyAboutUs{
    text-align: center;
    background-image:
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("https://c4.wallpaperflare.com/wallpaper/527/56/958/my-little-pony-the-movie-4k-desktop-background-wallpaper-preview.jpg");
        background-size: cover;
        background-position: center;
        aspect-ratio: 16/9 ;
        background-repeat: no-repeat; }


.navAboutUs{
    background-color: rgba(179, 69, 223, 0.699);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: rgb(175, 15, 114);
}

.titre,.titres  {
    color: rgb(137, 43, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

.texte {
    gap: 15px;
    color: rgb(211, 86, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 30px;
}

.qualités {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    gap: 15px;
    color: rgb(211, 86, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 30px;
}
